# Ignore file system source/mount-point
filesystem/

# Ignore test temp folder
test/unit/tmp/

# Ignore IDE stuff
nbproject/

# Ignore Composer and vendors
vendor/
bower_components/
composer.lock
composer.phar
