<?php

return array(
	'test' => array(
		'database' => array(
			'username' => 'awooga_user_test',
			'password' => 'password',
			'host' => 'docker',
			'database' => 'awooga_test',
		),
		'search-index.path' => '/filesystem/tmp/search-index',
		/*
		 * Auth config is supported, or we can get them from Apache variables (see Auth.php)
		'auth-service.github' => array(
			'client-id' => 'add-client-id-here',
			'client-secret' => 'add-client-secret-here'
		)
		*/
	),
	'local' => array(
		'database' => array(
			'username' => 'awooga_user',
			'password' => 'password',
			'host' => 'docker',
			'database' => 'awooga',
		),
		'search-index.path' => '/filesystem/mount/search-index',
		/*
		 * Auth config is supported, or we can get them from Apache variables (see Auth.php)
		'auth-service.github' => array(
			'client-id' => 'add-client-id-here',
			'client-secret' => 'add-client-secret-here'
		)
		*/
	),
	'staging' => array(
		'database' => array(
			'username' => 'awooga_user',
			'password' => 'password',
			'host' => 'docker',
			'database' => 'awooga',
		),
		'search-index.path' => '/filesystem/mount/search-index',
		/*
		 * Auth config is supported, or we can get them from Apache variables (see Auth.php)
		'auth-service.github' => array(
			'client-id' => 'add-client-id-here',
			'client-secret' => 'add-client-secret-here'
		)
		*/
	),
	'production' => array(
		'database' => array(
			'username' => 'awooga_user',
			'password' => 'password',
			'host' => 'docker',
			'database' => 'awooga',
		),
		'search-index.path' => '/filesystem/mount/search-index',
		/*
		 * Auth config is supported, or we can get them from Apache variables (see Auth.php)
		'auth-service.github' => array(
			'client-id' => 'add-client-id-here',
			'client-secret' => 'add-client-secret-here'
		)
		*/
	),
);