#paginator {
	text-align: center;
}

/* Space out the issues labels, so they wrap in a table cell */
table#reports td.issues span.label,
table#report td.issues span.label {
	display: inline-block;
}

/* Fix any markdown paras so they don't push down cell bottom margins */
table td p:last-child {
	margin-bottom: 0;
}

/* Sticky footer styles, from getbootstrap.com/examples/sticky-footer/ */
html {
	position: relative;
	min-height: 100%;
}
/* Make more specific than Bootstrap */
html body {
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer .container {
	padding: 0 15px;
}
.footer .container .text-muted {
	margin: 20px 0;
}

/* Hide HTML templates */
#template-url, #template-issue {
	display: none;
}